<%- include('./partials/head') %>

<h1><%- data["vraag"]["titel"] %></h1>

<p><%- data["keuze1"]["titel"] %> ( <%- data["keuze1"]["totaal"] %>)</p>

<p><%- data["keuze2"]["titel"] %> (<%- data["keuze2"]["totaal"] %>)</p>



</br>

<svg width="100" height="200">
<rect fill="red" width="400" height="<%- (200 / data["vraag"]["totaal"]) * data["keuze1"]["totaal"] %>" />
</svg>

<svg fill="blue" width="100" height="200">
<rect width="400" height="<%- (200 / data["vraag"]["totaal"]) * data["keuze2"]["totaal"] %>" />
</svg>


<%- include('./partials/foot') %>