<%- include('./partials/head') %>

<h1>Studenten poll</h1>

<h2><%- data["vraag"]["titel"] %></h2>

<% if(user == false) {%>
<form method="POST">
<button class="keuze1" formaction="/keuze1<%- data["keuze1"]["totaal"] %>">A: <%- data["keuze1"]["titel"] %></button>
</form>
<%}
else{}
%>
<% if(user != false) {%>
    <h3 class="textKeuze1"><%- data["keuze1"]["titel"] %> (<%- data["keuze1"]["totaal"] %>)</h3>
    <svg width="200" height="15">
        <rect fill="#A40606" width="<%- (200 / data["vraag"]["totaal"]) * data["keuze1"]["totaal"] %>" height="15" />
        </svg>
    <%}

    
else{}
%>





<% if(user == false) {%>
</br>
<form method="POST">
    <button  class="keuze2" formaction="/keuze2<%- data["keuze2"]["totaal"] %>">B: <%- data["keuze2"]["titel"] %></button>
</form>
<%}
else{}
%>


<% if(user != false) {%>
    <h3 class="textKeuze2"> <%- data["keuze2"]["titel"] %> (<%- data["keuze2"]["totaal"] %>)</h3>
    <svg fill="#1e658f" width="200" height="15">
        <rect width="<%- (200 / data["vraag"]["totaal"]) * data["keuze2"]["totaal"] %>" height="15" />
        </svg>
        <p>Wachten op een nieuwe vraag</p>
    <%}
    else{}
 %>


<%- include('./partials/foot') %>
