<%- include('./partials/head') %>


<h1>Change vraag</h1>
<p><%- data["vraag"]["titel"] %></p>
<form method="POST">
    <input type = "hidden" name="vraag" id="vraag" value="<%- para %>">
    <button>Verwijder vraag</button>
</br></br>
    <button formaction="/live<%- para %>">Vraag live zetten</button>
</form>

</br>



<a href="/admin"><p>Vragen overzicht</p></a>

<%- include('./partials/foot') %>