<!DOCTYPE html>
<html>
<head>
<title>poll</title>
</head>
<body>

    <h1>Wachten op vraag</h1>


    <form method="POST">
    <p><%- data["vraag"]["titel"] %></p> <p><%- data["vraag"]["totaal"] %></p> 
    <p><%- data["keuze1"]["titel"] %></p> <button formaction="/keuze1<%- data["vraag"]["totaal"] %>">keuze 1</button>
    <p><%- data["keuze2"]["titel"] %></p> <button formaction="/keuze2">keuze 2</button>
    </br></br>
    <button>Update vraag</button>
    </form>

</body>
</html>